extends ../layout

block content
  i.fa-fas-home
  a(href='/bicicletas') Volver

  br
  br
  

  h1.md-3 Nueva Bicicleta

  br
  br
  div.p-3.row 
    form(action='/bicicletas/create' method='post')
      label.col-1(for='id') ID:
      input.col-3#id(type='text' name='id')
      br
      br
      label.col-1(for='color') Color:
      input.col-3#color(type='text' name='color')
      br
      br
      label.col-1(for='modelo') Modelo:
      input.col-3#modelo(type='text' name='modelo')
      br
      br
      label.col-1(for='lat') Latitud:
      input.col-3#lat(type='text' name='lat')
      br
      br
      label.col-1(for='lng') Longitud:
      input.col-3#lng(type='text' name='lng')
      br
      br
      input.btn(type='submit' value='OK')